<!DOCTYPE html>
<html xmlns:th="http//thymeleaf.org">

<head th:replace="layout/layout :: head">
</head>

<body>
    <header th:replace="layout/layout :: header"></header>
    <div class="container py-4">
        <div class="card border-primary text-center">
            <div class="card-header" th:text="${titulo}"></div>
            <div class="card-body">

                <form th:action="@{/formdatos}" th:object=${basico} method="post">
                    <input type="hidden" th:field="*{id}" />
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Nombre</label>
                        <div class="col-sm-6">
                            <input type="text" th:field="*{nombre}" class="form-control" th:errorclass="'form-control alert-danger'" readonly>
                            <small th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="from-text text-danger"></small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Documento</label>
                        <div class="col-sm-6">
                            <input type="text" th:field="*{documento}" class="form-control" th:errorclass="'form-control alert-danger'" readonly>
                            <small th:if="${#fields.hasErrors('documento')}" th:errors="*{documento}" class="from-text text-danger"></small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Fecha Nacimiento</label>
                        <div class="col-sm-6">
                            <input type="date" th:field="*{fechaNacimiento}" class="form-control" th:errorclass="'form-control alert-danger'">
                            <small th:if="${#fields.hasErrors('fechaNacimiento')}" th:errors="*{fechaNacimiento}" class="from-text text-danger"></small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Telefono</label>
                        <div class="col-sm-6">
                            <input type="number" th:field="*{telefono}" class="form-control" th:errorclass="'form-control alert-danger'" />
                            <small th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}" class="from-text text-danger"></small>
                        </div>
                    </div>
                    <div class="form-group row input-group mb-6">

                        <label class="col-sm-2 col-form-label" for="inputGroupSelect01">Tipo</label>
                        <select th:field="*{tipo}" class="custom-select col-sm-6" id="tipo" name="tipo">
                            <option value=0> Seleccione</option>
                               <option  th:each="tipo: ${tipos}" th:value="${tipo.id}" th:text="${tipo.descripcion}" ></option>
                        </select>

                    </div>

                    <div class="form-group row input-group mb-6">

                        <label class="col-sm-2 col-form-label" for="inputGroupSelect01">EPS</label>
                        <select th:field="*{eps}" class="custom-select col-sm-6" id="eps" name="eps">
                            <option value=0> No tiene</option>
                               <option  th:each="eps: ${epss}" th:value="${eps.id}" th:text="${eps.descripcion}" ></option>
                        </select>

                    </div>
                    <div class="form-group row input-group mb-6">

                        <label class="col-sm-2 col-form-label" for="inputGroupSelect01">Genero</label>
                        <select th:field="*{genero}" class="custom-select col-sm-6" id="genero" th:name="genero">
                                <option th:value="0">Femenino</option>
                               <option th:value="1">Masculino</option>
                        </select>

                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Embarazada</label>
                        <div class="custom-control custom-switch">
                            <input th:field="*{embarazada}" type="checkbox" class="custom-control-input" id="customSwitch1" checked>
                            <label class="custom-control-label" for="customSwitch1"></label>
                        </div>
                    </div>
                    <div class="form-group row input-group mb-6">

                        <label class="col-sm-2 col-form-label" for="inputGroupSelect01">Modalidad</label>
                        <select th:field="*{modalidad}" class="custom-select col-sm-6" id="inputGroupSelect01">
                            <option value="0"> Seleccione</option>
                               <option  th:each="modalidad: ${modalidades}" th:value="${modalidad.id}" th:text="${modalidad.descripcion}" ></option>
                        </select>

                    </div>
                    <div class="form-group">

                        <div class="col-sm-6">
                            <input type="submit" th:value="Actualizar" class="btn btn-primary" />
                        </div>
                    </div>


                </form>


            </div>
        </div>
    </div>

    <footer th:replace="layout/layout :: footer"></footer>
</body>

</html>