<!DOCTYPE html>
<html xmlns:th="http//thymeleaf.org">

<head th:replace="layout/layout :: head">
</head>

<body>
    <header th:replace="layout/layout :: header"></header>
    <div class="container py-4">
        <div>
            <form id="logoutForm" th:action="@{/logout}" method="post">
                <button class="btn btn-primary my-2" onclick="document.getElementById('logoutForm').submit();" type="submit"> Cerrar Sesion</button>
            </form>
        </div>
        <div class="card border-primary text-center">
            <div class="card-header" th:text="${titulo}"></div>
            <div class="card-body">

                <ul class="list-group">
                    <li class="list-group-item">
                        <a th:href="@{/datospersonales}"> Datos Personales</a>
                    </li>
                    <li class="list-group-item">
                        <a> Personas</a>
                    </li>
                    <li class="list-group-item">
                        <a> Cormobilidad</a>
                    </li>
                    <li class="list-group-item">
                        <a> Registro</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>

    <footer th:replace="layout/layout :: footer"></footer>
</body>

</html>